@font-face {
    font-family: Europa-Grotesk-SH;
    src: url(../fonts/EuropaGroteskSH-MedIta.otf);
}

@font-face {
    font-family: Inter-Bold;
    src: url(../fonts/Inter-Bold.otf);
}

@font-face {
    font-family: FOT-Seurat-Pro-B;
    src: url(../fonts/FOT-Seurat-Pro-B.otf);
}

@font-face {
    font-family: Pressura-Mono-Regular;
    src: url(../fonts/GT-Pressura-Mono-Regular.otf);
}

@font-face {
    font-family: Pressura-Mono-Light;
    src: url(../fonts/GT-Pressura-Mono-Light.otf/);
}

html, body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.col-2 {
    background-color: #383632;
    display: flex;
    flex-direction: column;
}

.Titre {
    font-family: Inter-Bold;
    color: #FFFFFF;
    display: flex;
    align-items : left;
}

.Titre h1 {
    font-size: 64px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px; /* Adjust as needed */
}

nav ul li:last-child {
    margin-right: 0; /* No margin on the last item */
}

.nav-link {
    font-family: 'Pressura-Mono-Regular', sans-serif !important;
    color: #FFFFFF !important;
    display: flex;
    align-items: center;
    padding-left: 0 !important;
    margin: 0 !important;
    box-sizing: border-box; 
}

.nav-flex-column, nav-item {
    display: flex;
    align-items : left;
}

h3 {
    font-family: Pressura-Mono-Regular !important;
    color: #383632 !important;
}

label {
    font-family: Pressura-Mono-Light !important;
    color: #383632 !important;
    font-family: Pressura-Mono-Regular;
}

div .col-2{
	background-color: #E68A0E;
}

div .col-10{
	background-color: #EBE3D5;
    padding-top: 1%;
}

div.container-fluid, .col-2, .col-8, .row {
}

h1 {
    text-align: center;
}

/*
.hr-menu {
    border: 2px solid;
    border-radius: 5px;
    opacity: 1;
}
*/

html, body {
    height: 100%;
}

#form-button-container {
    position: relative;  
    left: 37%
}

.form-check {
    padding: 1%;
    padding-right: 5%;
}

.hr-form {
    width: 80%; 
}

.section-form {
    padding: 4%;
}

#customRange1 {
    appearance: none;
    width: 80%;
}

.list-recettes {
    display: inline-block;
}

.btn {
    margin-bottom: 25px;
    font-family: Pressura-Mono-Light !important;
    --bs-btn-color: #383632 !important;
    --bs-btn-border-color: #383632 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #E68A0E !important; /* Changed to the new hover background color */
    --bs-btn-hover-border-color: #E68A0E !important; /* Changed to the new hover border color */
    --bs-btn-focus-shadow-rgb: 56, 54, 50 !important; /* RGB value for #383632 */
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #E68A0E !important; /* Changed to the new active background color */
    --bs-btn-active-border-color: #E68A0E !important; /* Changed to the new active border color */
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #383632 !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #383632 !important;
    --bs-gradient: none !important;

    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; /* Customize the thumb size if necessary */
    height: 20px;
    background:  #E68A0E; /* Change the color here */
    cursor: pointer;
    border-radius: 50%; /* Optional: to make the thumb round */
    border: 2px solid #E68A0E; /* Optional: to add a border */
}

input[type="range" i] {
    color:  #383632 !important;
