@font-face {
    font-family: Europa-Grotesk-SH;
    src: url(../fonts/EuropaGroteskSH-MedIta.otf);
}

@font-face {
    font-family: Inter-Bold;
    src: url(../fonts/Inter-Bold.otf);
}

@font-face {
    font-family: FOT-Seurat-Pro-B;
    src: url(../fonts/FOT-Seurat-Pro-B.otf);
}

@font-face {
    font-family: Pressura-Mono-Regular;
    src: url(../fonts/GT-Pressura-Mono-Regular.otf);
}

@font-face {
    font-family: Pressura-Mono-Light;
    src: url(../fonts/GT-Pressura-Mono-Light.otf/);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    flex: 1;
    display: flex;
}

.col-2 {
    display: flex;
    flex-direction: column;
}

.Titre a h1 {

    font-size: 4vw;  
    text-align: center; /* Center align the title */
}

h2 {
    font-family: Pressura-Mono-Light;
}

@media (min-width: 1200px) {
  .Titre h1 {
    font-size: 75px; /* Set a fixed font size for larger screens */
  }
}

/* petit ecran */
@media screen and (max-width: 768px) {
    .Titre h1 {
        font-size: 8vw;
    }
}

@media screen and (max-width: 480px) {
    .Titre h1 {
        font-size: 10vw;    }
}

.Titre a h1 {
    font-family: Inter-Bold;
    color: #E68A0E;
    display: flex;
    align-items : left;
    margin-top: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; 
}

.nav-link {
    font-family: 'Pressura-Mono-Regular', sans-serif !important;
    color: #33302B !important;
    display: flex;
    align-items: center;
    padding-left: 0 !important;
    margin: 0 !important;
    box-sizing: border-box; 
}

a.nav-link {
    font-size: 25px !important;
}

.nav-flex-column, nav-item {
    display: flex;
    align-items : left;
}

h3 {
    font-family: Pressura-Mono-Regular !important;
    font-size: 28px;
    color: #33302B !important;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

img {
    width: 200px;
    height: 125px;
    overflow: hidden;
    border-radius: 8px;
    object-fit: cover;

}

.text-container p {
    width: 200px;
    word-wrap: break-word;
    text-align: center;
    margin-top: 10px;
    min-height: 1.5em;
}

label {
    font-family: Pressura-Mono-Light !important;
    color: #383632 !important;
    font-family: Pressura-Mono-Regular;
}

div .col-2 {
    /* background-color: #EBE3D5; */
    background-color: #F5F5F5;
}

div .col-10{
    padding-top: 1%;
}

.col-10 label {
    font-size: 22px;
}
div.container-fluid, .col-2, .col-8, .row {}

.container-fluid {
    display: flex;
    height: 100vh;
    margin: 0; 
    padding: 0; 
}

.col-10 form {
    background-color: #F5F5F5;
    width: 80%;   
    max-width: 800px;    
    margin: 100px auto;    
    padding: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    box-sizing: border-box;
    allign-content: center;
}

h1 {
    text-align: center;
}

/*
.hr-menu {
    border: 2px solid;
    border-radius: 5px;
    opacity: 1;
}
*/

html, body {
    height: 100%;
}

#form-button-container {
    margin: 0 auto;
    text-align: center;
}

.form-check {
    padding: 1%;
}

.hr-form {
    width: 80%; 
}

.section-form {
    padding: 4%;
}

#customRange1 {
    appearance: none;
    width: 80%;
}

.list-recettes {
    display: inline-block;
    padding: 2%;
}

.conteneur-recettes {
    text-align: center;
}

.btn {
    font-family: Pressura-Mono-Light !important;
    font-size: 22px !important;
    --bs-btn-color: #383632 !important;
    --bs-btn-border-color: #383632 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #E68A0E !important; 
    --bs-btn-hover-border-color: #E68A0E !important; 
    --bs-btn-focus-shadow-rgb: 56, 54, 50 !important; 
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #E68A0E !important; 
    --bs-btn-active-border-color: #E68A0E !important; 
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #383632 !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #383632 !important;
    --bs-gradient: none !important;

    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; /* Customize the thumb size if necessary */
    height: 20px;
    background:  #E68A0E; /* Change the color here */
    cursor: pointer;
    border-radius: 50%; /* Optional: to make the thumb round */
    border: 2px solid #E68A0E; /* Optional: to add a border */
}


input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; /* Customize the thumb size if necessary */
    height: 20px;
    background:  #E68A0E; /* Change the color here */
    cursor: pointer;
    border-radius: 50%; /* Optional: to make the thumb round */
    border: 2px solid #E68A0E; /* Optional: to add a border */
}

input[type="range" i] {
    color:  #383632 !important;
}

#basket {
    color: #33302B;
    width: 1.8em; /* Customize the thumb size if necessary */
    height: 1.8em;
}

.accordion-body, strong {
    font-family: Pressura-Mono-Regular !important;

}

#notification-cart {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
}

.alert {
    border-left: 6px solid #4fbb40 !important;
    position: fixed !important;
    right: 0px;
    width: 20% !important;
    border-radius: 10px !important;
    top: 15px;

}

.alert.alert-animation{

    animation: afficher_message 1.5s ease forwards;
}

@keyframes afficher_message {

    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

.alert.alert-animation-enlever{

    animation: enlever_message 1.5s ease forwards;
}

@keyframes enlever_message {

    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}
