@font-face {
    font-family: FlinkBold;
    src: url(../fonts/flink_2/FlinkBold.otf);
}

@font-face {
    font-family: FlinkThin;
    src: url(../fonts/flink_2/FlinkThin.otf);
}

@font-face {
    font-family: ChiaroscuraTRIAL-SmBdIt;
    src: url(../fonts/EMT_Chiaroscura_TRIAL/ChiaroscuraTRIAL-SmBdIt.otf);
}

@font-face {
    font-family: DMSerifDisplay-Italic;
    src: url(../fonts/DM_Serif_Display/DMSerifDisplay-Italic.ttf);
}

@font-face {
    font-family: Inter-Bold;
    src: url(../fonts/Inter-Bold.otf);
}

@font-face {
    font-family: FOT-Seurat-Pro-B;
    src: url(../fonts/FOT-Seurat-Pro-B.otf);
}

@font-face {
    font-family: Pressura-Mono-Regular;
    src: url(../fonts/GT-Pressura-Mono-Regular.otf);
}

@font-face {
    font-family: Pressura-Mono-Light;
    src: url(../fonts/GT-Pressura-Mono-Light.otf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F5F5F5;
}

div.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

div.row {
    background-color: #F5F5F5;
}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.row {
    flex: 1;
    display: flex;
}

.col-2 {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.section-form h2 {
    font-family: FlinkBold;
    margin: 15px 0 5px 0 !important;
    font-size: 22px;
}

.col-sm-8 {
    margin-bottom: 10px
}

@media (min-width: 1200px) {
  .Titre h1 {
    font-size: 75px;
  }
}

/* petit ecran */
@media screen and (max-width: 768px) {
    .Titre h1 {
        font-size: 8vw;
    }
}

@media screen and (max-width: 480px) {
    .Titre h1 {
        font-size: 10vw;    
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* menu */
.menu {
    height: 100%;
    overflow-y: auto;
    width: 220px !important;
}

.content {
    width 100%;
    height: 100%;
    overflow-y: auto;
}

.logo {
    width: 165px;
    padding-top: 50px;
    height: auto;
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; 
}

.lien-menu {
    padding-left: 0px !important;
}

.nav-link {
    font-family: FlinkBold;
    color: #212529 !important;
    display: flex;
    align-items: center;
    margin: 0 !important;
    box-sizing: border-box; 
    font-size: 22px !important;
    padding-bottom: 50px !important;
}

a.nav-link.active {
    font-family: FlinkBold;
}

.nav-flex-column, nav-item {
    padding-bottom: 15px !important;
    display: flex;
    align-items: left;
}

h3 {
    font-family: Pressura-Mono-Regular !important;
    font-size: 28px;
    color: #212529 !important;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

img, svg {
  vertical-align: middle;
}

img {
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
  object-fit: cover;
}
.text-container p {
    width: 200px;
    word-wrap: break-word;
    text-align: center;
    margin-top: 10px;
    min-height: 1.5em;
}

label {
    font-family: Pressura-Mono-Light !important;
    color: #383632 !important;
}

div.col-2 {
    background-color: #FFFFFF;
    padding: 0 15px 0 15px;
}

div.col-10 {
    width: auto;
    padding: 0%; 
    background-color: #F5F5F5;
}

.col-10 label {
    font-size: 18px;
}

.container-fluid {
    display: flex;
    height: 100vh;
    margin: 0; 
    padding: 0; 
}

.col-10 .section-top {
    background-color: #9DC28B;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    height: 400px;
    border-bottom-left-radius: 50% 200px; 
    border-bottom-right-radius: 50% 200px; 
    width: 120%;
    overflow: hidden;
    position: relative;
    left: -10%;
    font-family: FlinkBold;
    font-size: 65px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.message-acceuil {
    position: absolute;
    top: 10%;
}

phrase1 {
    margin-top: 25px !important;
}

.phrase1, .phrase2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: white;
}

.cumstom-font {
    font-family: ChiaroscuraTRIAL-SmBdIt;
}

.section-top {
    position: relative;
}

.section-top .content {
    max-width: 800px;
    margin: 0 auto;
    color: #fff; 
    text-align: center;
    font-family: ;
}

.conteneur-parent {
    width: 80%; 
    margin: 0 auto;
}

.section-milieu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px; 
    max-width: 1200px;
    margin: 0 auto; 
}

.message-form {
    width: 250px;
    font-family: FlinkBold;
    font-size: 22px;
}

.font2 {
 font-family: DMSerifDisplay-Italic; 
 font-size: 23px;
}

#form-accueil {
    width: 45%; 
}
.col-10 form {
    background-color: #FFFFFF;
    width: 80%;   
    width: 600px !important;    
    margin: 50px auto;    
    padding: 35px 0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    box-sizing: border-box;
    align-content: center;
}

h1 {
    text-align: center;
}

html, body {
    height: 100%;
}

#form-button-container {
    margin: 0 auto;
    text-align: center;
}

.form-check {
    padding: 1%;
}

.hr-form {
    width: 80%; 
}

#customRange1 {
    appearance: none;
    width: 100%;
}

.list-recettes {
    display: inline-block;
    padding: 2%;
}

.conteneur-recettes {
    text-align: center;
}

.btn {
    font-family: Pressura-Mono-Light !important;
    font-size: 18px !important;
    --bs-btn-color: #383632 !important;
    --bs-btn-border-color: #383632 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #9DC28B !important; 
    --bs-btn-hover-border-color: #9DC28B !important; 
    --bs-btn-focus-shadow-rgb: 56, 54, 50 !important; 
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #9DC28B !important; 
    --bs-btn-active-border-color: #9DC28B !important; 
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #383632 !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #383632 !important;
    --bs-gradient: none !important;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background:  #9DC28B;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #9DC28B;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background:  #9DC28B;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #9DC28B;
}

input[type="range" i] {
    color:  #383632 !important;
}

#basket {
    color: #212529;
    width: 1.8em;
    height: 1.8em;
}

.accordion-body, strong {
    font-family: Pressura-Mono-Regular !important;
    position: relative;
    align-items: center;
}

#notification-cart {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
}

.alert {
    border-left: 6px solid #4fbb40 !important;
    position: fixed !important;
    right: 0px;
    width: 20% !important;
    border-radius: 10px !important;
    top: 15px;
}

.alert.alert-animation {
    animation: afficher_message 1.5s ease forwards;
}

.alert-success {
    margin: 0;
    margin-bottom: 0;
}

@keyframes afficher_message {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.alert.alert-animation-enlever {
    animation: enlever_message 1.5s ease forwards;
}

@keyframes enlever_message {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
    }
}


.btn-close {
    height: 0.3em !important;
    width: 0.3em !important;
    position: absolute;
    vertical-align: middle;
    right: 0 !important;
    margin-top: 6px;
    margin-right: 4px;
    transition: height 0.2s ease;
}

.formulaire-popup {
    position: fixed;
    top:50%;
    left:50%;
    max-width: 720px;
    width: 25%;
    background: #9DC28B;
    border: 2px solid #fff;
    transform: translate(-50%, -100%);
    pointer-events: none;
    opacity: 0;
    transition: 0.1s ease;
    border-radius: 10px;
}

.formulaire-popup .btn-close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 2%;
    cursor: pointer;
}

.afficher-popup .formulaire-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}
.formulaire-popup .form-box  {
    display: flex;

}

.form-box .form-details {
    max-width: 330px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

form .input-field {
    height: 50px;
    width: 100% !important;
    margin-top:20px;
}

form .input-field {
    height: 100%;
    width: 100%;
    font-size: 0.95rem;
    border: 1px #717171;
}

.flou {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    pointer-events: none;
    opacity: 0;
    transition: 0.1s ease;
}

.afficher-popup .flou  {
    opacity: 1;
    pointer-events: auto;
}
.formulaire-popup input {
    width: 100%;
}

.formulaire-popup button{
    width: 100%;

}

.formulaire-popup .sign-up,
.formulaire-popup.afficher-enregistrer .login {
    display: none;
}

.formulaire-popup.afficher-enregistrer .sign-up {
    display : flex;
}

.nom-recette {
    color: #212529 !important;
    font-size: 22px;    
    text-decoration: none;
}

.preference-message {
  text-align: center;
  background-color: #9dc28b9e;
  padding: 1em;
  border-radius: 5px;
  margin: 1em;
  width: 100%;
}

/* ***RECETTES*** */
div.recette {
    box-sizing: border-box;
}

div.text-container.list-recettes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-content: center;
    width: 300px;
    margin: 10px;
}

div.liste-recettes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteneur-recettes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-container p {
    font-family: Pressura-Mono-Light;
    font-size: 18px;
}

span#montant-budget {
    display: flex;
    justify-content: right;
}

.recette {
    box-sizing: border-box;
    height: 800px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto 50px auto; 
    gap: 50px !important; 
    padding: 0; 
    width: 80%;
}

.recette > * {
    margin: 0; 
    padding: 0; 
}

h2.titre-recette{
    margin-bottom: 20px;
    font-family: FlinkBold;
    margin-bottom: 10px;
}

div.aliments {
    font-family: Pressura-Mono-Light;
    margin-bottom: 25px;
}

img.photo-recette {
    width: 562.5px;
    height: 750px;
    border-radius: 0;
}

a {
    display: inline-block;
    font-family: FlinkBold;
    color: #9DC28B !important;
    padding-bottom: 25px !important;
}

/* evalutation etoiles */
.form-control {
    margin-bottom: 25px !important;
}
output#__BVID__3.b-rating.form-control.align-items-center.d-flex {
    margin-bottom: 5px !important;
}

p.mt-2 {
    margin-bottom: 5px !important;
    font-family: FlinkBold !important;
}

div.evaluation {
    background-color: #F5F5F5 !important;
}

.evaluation form {
    margin-top: 0px;
    height: 80%;
}

.evaluer-bouton {
    display: inline-block;
    font-family: FlinkBold;
    color: #9DC28B !important;
    padding-bottom: 25px !important;
    border: none;
    background-color: #F5F5F5 !important;
    outline: none;
    box-shadow: none;
    padding: 0 0 25px 0 !important;
}

/* section video */
.section-video { 
}

.section-video > video {
    width: 100%;
}

