{% extends "layout.html" %}
    {% block content %}
    <div class="col-10">
        <form id="form-accueil" method="get" action="/profil-modification">
            <div class="col-sm-8">
                <div class="section-form">
                    <h2 class="form-ajout-recette">Formulaire pour ajouter une recette</h2>
                    <div class="form-group">
                        <label class="form-check-label" for="nomRecette">Nom de la recette : </label>
                        <input class="form-control" type="text" id="nomRecette" name="epicerie" placeholder="Entrez le nom de la recette">
                    </div>
                    <div class="form-group" id="ingredients-conteneur">
                        <label class="form-check-label" for="liste-ingredients">Choisir un ingrédient :</label>
                        <select name="ingredients" class="liste-ingredients" id="0">
                            <option value=""> Choisissez un ingrédient </option>
                            {% for ingredient in ingredients %}
                            <option id="{{ingredient[0]}}" data-mesure="{{ingredient[2]}}" value="{{ingredient[0]}}">{{ingredient[1]}}</option>
                            {% endfor %}
                        </select>
                            <div id="selected-ingredient-0">
                            </div>
                        <div id="ingredients">

                        </div>
                         <button type="button" class="btn btn-outline-secondary" id="ajouter-ingredient">Ajouter un ingrédient</button>

                    </div>
                </div>
                <div class="section-form">
                    <h2>Cochez les allergies</h2>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="0" name="allergie" {% if 0 in liste_allergie %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox5">Arachide</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="1" name="allergie" {% if 1 in liste_allergie %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox6">Lactose</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="2" name="allergie" {% if 2 in liste_allergie %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox7">Gluten</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="3" name="allergie" {% if 3 in liste_allergie %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox8">Poisson</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox16" value="4" name="allergie" {% if 4 in liste_allergie %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox16">Fruit de mer</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox17" value="5" name="allergie" {% if 5 in liste_allergie %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox17">Oeuf</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox18" value="6" name="allergie" {% if 6 in liste_allergie %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox18">Soja</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox19" value="7" name="allergie" {% if 7 in liste_allergie %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox19">Sésame</label>
                    </div>

                </div>
                <div class="section-form">
                    <h2>Cochez la diète</h2>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox9" value="0" name="diete" {%if 0 in liste_diete %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox9">Omnivore</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox10" value="1" name="diete" {%if 1 in liste_diete %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox10">Végétarienne</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox11" value="2" name="diete" {%if 2 in liste_diete %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox11">Végétalienne</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox12" value="3" name="diete" {%if 3 in liste_diete %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox12">Paléo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox13" value="4" name="diete" {%if 4 in liste_diete %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox13">Pesco-végétarienne</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox14" value="5" name="diete" {%if 5 in liste_diete %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox14">Ovo-lacto-végétarienne</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox15" value="6" name="diete" {%if 6 in liste_diete %} checked {%endif%}>
                        <label class="form-check-label" for="inlineCheckbox15">Lacto-végétarisme</label>
                    </div>
                </div>
                <div class="section-form">
                    <h2>Ajouter une photo</h2>
                    <input type="file" id="image">
                </div>
                <div class="section-form" id="form-button-container">
                    <input type="submit" class="btn btn-outline-success" id="button-recette-envoyer" value="Envoyer la recette">
                </div>
            </div>
        </form>

    </div>
    {% endblock content%}
