{% extends "layout.html" %}
    {% block content %}
    <div class="col-10">
        <div class="text-container">
            <h2 class="titre-page">Aliments</h2>
        </div>
        <div class="liste-recette  conteneur-recettes">
            {% for article in articles %}
            <div id={{ article[0]}} class="text-container list-recette" >
                <img src="{{ url_for('static', filename='img/' ~ article[0]|string ~ 'b.jpg') }}" alt="image recette">
                <p class="titre-recette" data-id-recette="{{ article[0] }}"> {{ article[1] }}</p>
                <div id="rating-app-1">
                    <b-form-rating
                        v-model="value1"
                        show-value-max
                        precision="2"
                    ></b-form-rating>
                </div>
                <button type="button" class="btn-recettes btn btn-outline-success" data-nom-recette="{{ article[1] }}" data-id-recette="{{ article[1] }}">Ajouter</button>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
