{% extends "layout.html" %}
{% block content %}
  <div class="col-10">
    <form id="form-accueil" method="get" action="/search">
        <div class="col-sm-8 offset-sm-2">
            <div class="section-form">
                <h3>Épiceries</h3>
                <hr class="hr-form">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="epicerie" value="1">
                    <label class="form-check-label" for="inlineCheckbox1">Épicerie 1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="epicerie" value="epicerie2">
                    <label class="form-check-label" for="inlineCheckbox2">Épicerie 2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="epicerie" value="epicerie3">
                    <label class="form-check-label" for="inlineCheckbox3">Épicerie 3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="epicerie" value="epicerie4">
                    <label class="form-check-label" for="inlineCheckbox4">Épicerie 4</label>
                </div>
            </div>
            <div class="section-form">
                <h3>Allergies</h3>
                <hr class="hr-form">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="allergie1" name="allergie">
                    <label class="form-check-label" for="inlineCheckbox5">Allergie 1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="allergie2" name="allergie">
                    <label class="form-check-label" for="inlineCheckbox6">Allergie 2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="allergie3" name="allergie">
                    <label class="form-check-label" for="inlineCheckbox7">Allergie 3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="allergie4" name="allergie">
                    <label class="form-check-label" for="inlineCheckbox8">Allergie 4</label>
                </div>
            </div>
            <div class="section-form">
                <h3>Diètes</h3>
                <hr class="hr-form">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="1" name="diete">
                    <label class="form-check-label" for="inlineCheckbox9">Diète 1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="diete2" name="diete">
                    <label class="form-check-label" for="inlineCheckbox10">Diète 2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="diete3" name="diete">
                    <label class="form-check-label" for="inlineCheckbox11">Diète 3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="diete4" name="diete">
                    <label class="form-check-label" for="inlineCheckbox12">Diète 4</label>
                </div>
            </div>
            <div class="section-form">
                <h3>Budget</h3>
                <hr class="hr-form">
                <input type="range" class="form-range" id="customRange1" min="0" max="1000" value="500" name="budget">
                <span id="montant-budget"></span>
            </div>
        </div>
        <div id="form-button-container">
            <input type="submit" class="btn btn-outline-success" id="button-recherche" value="Débuter la recherche">
        </div>
    </form>
  </div>
{% endblock content%}
