{% extends "layout.html" %}

{% block content %}
<div class="col-10">
    <div class="recette">
        <div>
            <img class="photo-recette" src="{{ url_for('static', filename='img/' ~ recette.id|string ~ '.jpg') }}" alt="image recette">
        </div>

        <div class="details-recette">
            <h2 class="titre-recette" data-id-recette="{{ recette.id }}"> {{ recette.nom }}</h2>
            <button type="button" class="evaluer-bouton" onClick="allerBasPage()">Évaluer cette recette</button>
            <div class="aliments">
                {% for aliment in aliments %}
                <p class="r{{ recette.id }}" data-id-aliment="{{ aliment.id }}"> {{ aliment.nom }}</p>
                {% endfor %}
            </div>
            <button type="button" class="btn-recettes btn btn-outline-success" data-nom-recette="{{ recette.nom }}" data-id-recette="{{ recette.id }}">Ajouter</button>
        </div>
    </div>

    <div class="avis">
        <form action="#">
        <h3>Votre opinion compte pour nous.</h3>
            <div class="stars">
                <i class='fa-solid fa-star'></i>
                <i class='fa-solid fa-star'></i>
                <i class='fa-solid fa-star'></i>
                <i class='fa-solid fa-star'></i>
                <i class='fa-solid fa-star'></i>
            </div>
            <textarea class="avis-texte" name="opinion" cols ="30" rows="5" placerholder="Laissez-nous savoir vos commentaires!"></textarea>
            <button type="submit" class="btn btn-avis">Envoyer</button>
        </form>
    </div>
</div>
{% endblock content %}
