{% extends "layout.html" %}
{% block content %}
<div class="col-10">
    <div class="col-sm-8 offset-sm-2">
        <div class="liste-recettes conteneur-recettes">
            {% if not resultats %}
            <div class="text-container">
                <h2>Votre recherche ne contient aucun résultat.</h2>
            </div>
            {% else %}
            {% for resultat in resultats %}
            <div class="text-container list-recettes">
                <img src="{{ url_for('static', filename='img/' ~ resultat.id|string ~ '.jpg') }}" alt="Image Recette">
                <a class="nom-recette" href="{{ url_for('page_recette', identifiant=resultat.id) }}">{{ resultat.nom }}</a>
		<p> Prix: <span class="prix-recette">{{ resultat.prix }} </span>
                <button type="button" class="btn-recettes btn btn-outline-success" nom-recette="{{ resultat.nom }}" id-recette = "{{ resultat.id }}">Ajouter</button>
                {% for aliment in resultat.aliments %}
		<p id-aliment="{{ aliment.id }}" class="r{{ resultat.id }}" hidden> {{ aliment.nom }}</p>
		<p quantite-aliment="{{ aliment.quantite }}" class="r{{ resultat.quantite }}" hidden> {{ aliment.quantite }}</p>
		<p quantite-recette="{{ aliment.quantite_recette }}" class="r{{ resultat.quantite_recette }}" hidden> {{ aliment.quantite_recette }}</p>
		<p prix-aliment="{{ aliment.prix }}" class="r{{ resultat.prix }}" hidden> {{ aliment.prix }}</p>
                
                {% endfor %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}


