{% extends "layout.html" %}
{% block content %}
<div class="col-10">
    <div class="col-sm-8 offset-sm-2">
        {% if not resultats %}
        <div class="text-container">
            <h2>Votre recherche ne contient aucun résultat.</h2>
        </div>
        {% else %}
        {% for resultat in resultats %}
        <div class="text-container list-recettes">
        <img src="{{ url_for('static', filename='img/' ~ resultat.id|string ~ '.jpg') }}" alt="Image Recette">
            <p> {{ resultat.nom }} </p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}
